@font-face{
  font-family: Adelle;
  src:url("fonts/498b62bf-272a-424f-8438-963e84290a7b.eot?#iefix");
  src:url("fonts/498b62bf-272a-424f-8438-963e84290a7b.eot?#iefix") format("eot"),
      url("fonts/747b7cce-295f-4e39-903b-5858af155c13.woff") format("woff"),
      url("fonts/d1367539-252f-43f2-b898-5585bcee553d.ttf") format("truetype"),
      url("fonts/4a93e3f0-a4a0-48bb-a0ac-56b7d14dc1a2.svg#4a93e3f0-a4a0-48bb-a0ac-56b7d14dc1a2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Adelle;
  src:url("fonts/bc714449-63c7-400e-a289-1c6604dd49e8.eot?#iefix");
  src:url("fonts/bc714449-63c7-400e-a289-1c6604dd49e8.eot?#iefix") format("eot"),
      url("fonts/18a324fe-d364-4d8f-aab5-9e81fa1b520c.woff") format("woff"),
      url("fonts/a7a2f85c-84d1-4f65-a6e8-c6c36d8232a5.ttf") format("truetype"),
      url("fonts/6d5c8a96-bee5-4352-b588-298973002deb.svg#6d5c8a96-bee5-4352-b588-298973002deb") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: Adelle;
  src:url("fonts/8e2df70c-0ee9-42e1-bada-4dafcbf43f5b.eot?#iefix");
  src:url("fonts/8e2df70c-0ee9-42e1-bada-4dafcbf43f5b.eot?#iefix") format("eot"),
      url("fonts/ef4ea52e-fa1e-4c3a-9be0-61f35ec257d6.woff") format("woff"),
      url("fonts/48d3e76f-52b6-4060-883f-bad5898bbbfe.ttf") format("truetype"),
      url("fonts/de637c7d-7551-44fd-a0fe-dfce279f05aa.svg#de637c7d-7551-44fd-a0fe-dfce279f05aa") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: Adelle;
  src:url("fonts/248592a9-b08f-4f64-8965-4ac70f27ae42.eot?#iefix");
  src:url("fonts/248592a9-b08f-4f64-8965-4ac70f27ae42.eot?#iefix") format("eot"),
      url("fonts/d96a9b2b-2ed9-4823-b165-ffc662468b41.woff") format("woff"),
      url("fonts/fd1dbb2f-dcd5-481a-8c86-a921f1c6c64e.ttf") format("truetype"),
      url("fonts/6c10ec12-26f7-45dd-82d8-9ef7a2691ca8.svg#6c10ec12-26f7-45dd-82d8-9ef7a2691ca8") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: "Avenir Next";
  src:url("fonts/6fb51c51-e183-4721-9e37-45a2ba8a5641.eot?#iefix");
  src:url("fonts/6fb51c51-e183-4721-9e37-45a2ba8a5641.eot?#iefix") format("eot"),
      url("fonts/9ddb7916-058a-4e43-9880-dcb237ef42b6.woff") format("woff"),
      url("fonts/39e32aa7-13e2-40ab-ac9c-ea669789b9d6.ttf") format("truetype"),
      url("fonts/4c639ff3-732a-4d7a-b793-b83771f8e94c.svg#4c639ff3-732a-4d7a-b793-b83771f8e94c") format("svg");
  font-weight: bold;
  font-style: normal;
}