.site-footer {
  background: $c-bg-primaryDark;
  @include rem(padding-top, 2);
  overflow: hidden;
  width: 100%;
  float: left;
  clear: both;

  .lt-ie9 & {
    @include rem(padding-bottom, 2);
  }

  a:focus {
    outline: $focus-outline-light;
  }
}

.site-footer.site-footer--second-footer_is-open {
  overflow: visible;
}

.site-footer--logo-icon {
  background: white;
  position: absolute;
  margin-top: -1.8em;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.75em;

  z-index: 2; // place above preceding elements

  @include rem(padding,.325);
  @include border-radius(2px);

  .lt-ie9 & {
    display: none;
  }

  &:before {
    color: $c-bg-primaryDark;
  }

  span {
    @extend %is-visuallyhidden;
  }
}

.site-footer--first {
  @include rem(padding-left, 1.5);
  @extend %font-primary;
  font-weight: 700;
  float: left;
  width: 45%;

  .site-footer--copyright {
    @include rem(margin, 0, 0, 1.5, 0);
    @include rem(font-size, .75);
    @include rem(line-height, 1);
    color: #5d989c;
    display: block;
    @include sb-media(50rem) {
      @include rem(margin, .5, 0, .5, 0);
    }
  }
}

.site-footer--address {
  color: #5d989c;
  @include rem(font-size, .8);
  margin: .5em 0 0;
}

.site-footer--address--wrapper {
  display: inline;
}

.site-footer--address--street {
  display: block;

  @include sb-media(35rem) {
    display: inline-block;
  }
}

.site-footer--message {
  color: $c-tx-light;
}

.site-footer--link {
  color: #A3DAE3;
  text-decoration: underline;
}

.site-footer--second {
  @include rem(padding-right, 1.5);
  float: right;
  width: 45%;

  .lt-ie9 & {
    padding-right: 0;
    margin-right: 1%;
    width: 44%;
  }
}

.site-footer--social {
  padding: 0;
  margin: 0 0 0 14%;
  float: right;
}

.site-footer--social-item {
  @include rem(margin, 0, 0, .75, .6);
  @include rem(height, 2.5);
  display: inline-block;

  .lt-ie8 & {
    display: inline;
  }
}
.site-footer--social-link {
  .icon {
    @extend %hide-text;

    @include quick-transition;
    @include rem(width, 3.5);
    @include rem(height, 3.5);
    display: block;

    .backgroundsize & {
      background-size: 100%;
      @include rem(width, 2.25);
      @include rem(height, 2.25);
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.site-footer--more-trigger-container {
  @include rem(width, 16);
  @include transition(all, .15s, ease-out);
  margin: 0 auto;
  clear: both;
  position: relative;
  border-bottom: 60px solid $c-bg-primaryLight;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  text-align: center;
  cursor: pointer;
  padding-top: 1em;

  .no-touch &:hover, .site-footer--second-footer_is-open & {
    @include transition(all, .15s, ease-out);
    border-bottom: 60px solid lighten($c-bg-primaryLight, 7%);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    transform: translate(0px,-14px);
    -webkit-transform: translate(0px,-14px);
  }

  .no-touch .site-footer--second-footer_is-open &:hover {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
  }

  &:after {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: darken($c-bg-primaryLight, 5%);
    border-width: 128px;
    margin-left: -36px;
    left: 0px;
  }

  .lt-ie9 & {
    display: none;
  }
}

.site-footer--more-trigger {
  @include rem(padding, 1.25, 0, 1, 0);
  display: block;
}
