/*
Button

Apply these classes to elements that should appear as buttons.

.button--standard     - Default button

Styleguide 1.6
*/

$c--standard-light: #a5ebe9;
$c--standard-dark: #4CACBE;

.button {
  // Remove default button styles
  border: none;
  margin: 0;
  @extend %font-primary;

  cursor: pointer;
}

%button_base {
  @include transition(background-color, 0.2s, ease-in-out);
  padding: 0.8em 1.4em;
}

.button_standard {
  @extend %button_base;
  color: $c--standard-light;
  background-color: $c--standard-dark;

  &:hover {
    color: tint($c--standard-light, 60%);
    background-color: shade($c--standard-dark, 40%);
  }
}

.button_dark-blue {
  @extend %button_base;
  background-color: $c-bg-primaryDark;
  color: $c-tx-lightGray;

  &:hover {
    background-color: darken($c-bg-primaryDark, 3%);
    color: $c-tx-lightGray;
  }
}

.button_inactive {
  @extend %button_base;
  color: $c-bg-midGray;
  background-color: $c-bg-lightGray;

  &:hover {
    color: darken($c-bg-midGray, 7%);
    background-color: darken($c-bg-lightGray, 7%);
  }
}

.button_inline {
  display: inline-block;
}

.button_full {
  display: block;
}

.button_has-icon {
  &:after {
    margin-left: 1em;
    font-family: Icon;

    // To prevent faux-bold
    font-weight: normal;

    // Better font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.button_has-external-icon {
  // add specific icon for external links
  &:after {
    content: "\e603";
    font-size: 1.1em;
    position: relative;
    top: 1px;
  }
}

.button_center {
  text-align: center;
}

.button_large {
  // larger font size
  font-size: 1.2em;
}
