// COLORS

// background colors

$c-bg-primary: #50B7C8;
$c-bg-primaryLight: #A3DAE3;
$c-bg-primaryLight2x: #D5F2F7; // also rgba(#3EA9BE,.12)
$c-bg-primaryLight3x: #EAFCFF;
$c-bg-primary-desaturated: #64A5B1;
$c-bg-primaryLightNav: #C7ECF2;
$c-bg-primaryDark: #1C4C55;

$c-bg-darkGray: #252525;
$c-bg-midGray: #727272;
$c-bg-lightGray: #CACACA;
$c-bg-lightGray2x: #ECECEC;


// default link colors

$c-anchorLink: #009BC2;
$c-anchorLink-hover: lighten($c-anchorLink, 10%);
$c-anchorLink-visited: #4cacbe;

// text colors

$c-tx-default: #1B1B1B;
$c-tx-logoColor: #1A1918;
$c-tx-dark: #1C4C54;
$c-tx-light: #3EA9BE;
$c-tx-light2x: #80D4DF;
$c-tx-light3x: #DAFDFF;

$c-tx-lightGray: #dcdcdc;
$c-tx-midGray: #bebebe;
