<div class="site-color-palette">
  <div class="c-bg-primary"></div>
  <div class="c-bg-primaryLight"></div>
  <div class="c-bg-primaryLight2x"></div>
  <div class="c-bg-primaryLight3x"></div>
  <div class="c-bg-primaryDark"></div>
  <div class="c-bg-darkGray"></div>
  <div class="c-anchorLink"></div>
  <div class="c-anchorLink-hover"></div>
  <div class="c-anchorLink-visited"></div>
  <div class="c-tx-logoColor"></div>
  <div class="c-tx-dark"></div>
  <div class="c-tx-light"></div>
  <div class="c-tx-light2x"></div>
  <div class="c-tx-light3x"></div>
</div>
