<div class="devices-hero">

  <div class="devices-hero--art_fallback">
  </div>

  <div class="devices-hero--art-wrapper">
    <div class="devices-hero--art">
      
      <?xml version="1.0" encoding="utf-8"?>
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg version="1.1" class="devices-hero--svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1870 838.084" enable-background="new 0 0 1870 838.084" xml:space="preserve">
        <g class="is-animated devices-hero--device devices-hero--device-1">
          <path class="devices-hero--device--outline" d="M636.011,497.716c-5.092,0-9.225-4.503-9.225-10.061V353.65c0-5.552,4.133-10.047,9.225-10.047h180.892c5.096,0,9.225,4.495,9.225,10.047v134.005c0,5.559-4.128,10.061-9.225,10.061H636.011z"/>
          <path class="devices-hero--device--filled-shape" d="M643.541,425.683c-2.769,0-5.023-2.246-5.023-5.019c0-2.773,2.254-5.026,5.023-5.026c2.777,0,5.023,2.253,5.023,5.026C648.564,423.437,646.318,425.683,643.541,425.683z"/>
        </g>
        <g class="is-animated devices-hero--device devices-hero--device-2">
          <path class="devices-hero--device--outline" d="M943.683,574.907c0,3.25-2.638,5.889-5.895,5.889h-78.495c-3.24,0-5.875-2.639-5.875-5.889V443.438c0-3.249,2.634-5.889,5.875-5.889h78.495c3.256,0,5.895,2.64,5.895,5.889V574.907z"/>
          <path class="devices-hero--device--filled-shape" d="M904.433,563.136c0,3.245-2.63,5.889-5.885,5.889c-3.245,0-5.879-2.644-5.879-5.889c0-3.256,2.634-5.889,5.879-5.889C901.803,557.247,904.433,559.88,904.433,563.136z"/>
        </g>
        <g class="is-animated devices-hero--device devices-hero--device-3">
          <path class="devices-hero--device--outline" d="M1275.711,556.519V407.763H994.076v148.756h-22.323v23.809h324.292v-23.809H1275.711z"/>
          <line class="devices-hero--device--outline" x1="994.05" y1="556.519" x2="1276.289" y2="556.519"/>
          <line class="devices-hero--device--outline" x1="1103.955" y1="567.215" x2="1170.803" y2="567.215"/>
        </g>
        <g class="is-animated devices-hero--device devices-hero--device-4">
          <path class="devices-hero--device--outline" d="M790.618,587.479c0,5.892-4.632,10.669-10.342,10.669h-99.631c-5.716,0-10.349-4.777-10.349-10.669V536.79c0-5.887,4.632-10.667,10.349-10.667h99.631c5.71,0,10.342,4.779,10.342,10.667V587.479z"/>
          <path class="devices-hero--device--outline" d="M670.297,587.586v67.293c0,6.039,4.749,10.93,10.608,10.93h133.922c5.867,0,10.615-4.891,10.615-10.93v-56.293c0-6.04-4.748-10.94-10.615-10.94l-4.446-0.014h-18.353 M784.639,654.191h-101.91v-45.047h101.91V654.191z"/>
        </g>
        <g class="is-animated devices-hero--device devices-hero--device-5">
          <rect class="devices-hero--device--outline" x="851.676" y="614.877" width="209.035" height="156.769"/>
          <line class="devices-hero--device--outline" x1="926.344" y1="805.242" x2="926.344" y2="771.646"/>
          <line class="devices-hero--device--outline" x1="986.05" y1="771.646" x2="986.05" y2="805.242"/>  
          <line class="devices-hero--device--outline" x1="902.072" y1="805.242" x2="1008.446" y2="805.242"/>
        </g>
        <g class="is-animated devices-hero--device devices-hero--device-6">
          <path class="devices-hero--device--outline" d="M1247.881,793.697c0,5.092-4.502,9.225-10.061,9.225h-134.005c-5.552,0-10.047-4.133-10.047-9.225V612.805c0-5.096,4.495-9.225,10.047-9.225h134.005c5.559,0,10.061,4.128,10.061,9.225V793.697z"/>
          <path class="devices-hero--device--filled-shape" d="M1175.848,786.168c0,2.77-2.246,5.023-5.019,5.023s-5.026-2.254-5.026-5.023c0-2.777,2.253-5.023,5.026-5.023S1175.848,783.391,1175.848,786.168z"/>
        </g>
        <g class="is-animated devices-hero--device devices-hero--device-7">
          <path class="devices-hero--device--outline" d="M827.11,815.755V691.862H592.547v123.893h-18.592v19.829h270.09v-19.829H827.11z"/>
          <line class="devices-hero--device--outline" x1="592.696" y1="815.755" x2="827.919" y2="815.755"/>
          <line class="devices-hero--device--outline" x1="684.061" y1="824.664" x2="739.736" y2="824.664"/>
        </g>
      </svg>

    </div>
  </div>

  <div class="devices-hero--content">
    <h1 class="devices-hero--title">
      <span class="devices-hero--title--first">{{title-first}}</span>
      <span class="devices-hero--title--second">{{title-second}}</span>
    </h1>
    <p class="devices-hero--subtitle">{{subtitle}}</p>
  </div>
</div>