<div class="map-footer js--second-footer">
  <header>
    <div class="map-footer--header">
      <h3 class="map-footer--header-title">Sparkbox Is On The Go</h3>
      <p class="map-footer--header-subtitle">We'll be at <span class="map-footer--event-count">{{length events}}</span> events. Come say "hi."</p>
    </div>
  </header>
  <div class="map-footer--map-container">
    <a class="button button_standard map-footer--nav-trigger js--map-footer--nav-trigger" href="#" title="Show event listing">Events List</a>
    <div class="map-footer--nav-wrapper js--map-footer--nav-wrapper">
      <div class="map-footer--nav">

      </div>
    </div>
    <div class="map-footer--map-wrapper">
      <div id="map" class="map-footer--map"></div>
    </div>
  </div>
</div>
