<footer class="site-footer js--site-footer">
  <h2 class="site-footer--logo-icon" aria-hidden="true" data-icon="&#xe001;"><span>Sparkbox</span></h2>
  <div class="site-footer--first">
    <span class="site-footer--message">We love to build right. <a class="site-footer--link" href="http://building.seesparkbox.com/">See how our site was made.</a></span>
    <div class="vcard site-footer--address">
      <div class="adr site-footer--address--wrapper">
        <a class="native-map-link" href="http://maps.apple.com?q=123+Webster+St.,+Dayton,+OH+45402">
          <span class="street-address site-footer--address--street">123 Webster St.</span>
          <span class="locality">Dayton</span>,
          <span class="region">OH</span>,
          <span class="postal-code">45402</span>
        </a>
      </div>
    </div>
    <span class="site-footer--copyright">&copy; 2014 Sparkbox. All rights reserved.</span>
  </div>
  <div class="site-footer--second">
    <ul class="site-footer--social">
      <li class="site-footer--social-item">
        <a href="https://twitter.com/hearsparkbox" class="site-footer--social-link"><span class="icon icon-twitter">Twitter</span></a>
      </li>
      <li class="site-footer--social-item">
        <a href="https://github.com/sparkbox/" class="site-footer--social-link"><span class="icon icon-github">Github</span></a>
      </li>
      <li class="site-footer--social-item">
        <a href="http://dribbble.com/sparkbox" class="site-footer--social-link"><span class="icon icon-dribbble">Dribbble</span></a>
      </li>
      <li class="site-footer--social-item">
        <a href="https://www.facebook.com/seesparkbox" class="site-footer--social-link"><span class="icon icon-facebook">Facebook</span></a>
      </li>
    </ul>
  </div>
  <div class="site-footer--more-trigger-container js--site-footer--more-trigger-container">
    <a class="site-footer--more-trigger js--site-footer--more-trigger" href="#" data-expanded-text="Happy Now?">More Footer?</a>
  </div>
</footer>

{{> _map-footer }}
