<div class="team-listing--item team-listing--principle">
  <div class="team-listing--principle-title-wrapper">
    <h3 class="team-listing--principle-title">{{principle}}</h3>
  </div>
  <div class="team-listing--principle-content-wrapper">
    <div class="team-listing--principle-content-container">
      <div class="team-listing--principle-content-vertical-center">
        <p data-fittext-compression="1" data-fittext-max="23" class="team-listing--principle-content">{{description}}</p>
      </div>
    </div>
  </div>
</div>