.icon-buildright { background-image: url('png/buildright.png'); background-repeat: no-repeat; }

.icon-consultation { background-image: url('png/consultation.png'); background-repeat: no-repeat; }

.icon-design-clarity { background-image: url('png/design-clarity.png'); background-repeat: no-repeat; }

.icon-dribbble { background-image: url('png/dribbble.png'); background-repeat: no-repeat; }

.icon-education { background-image: url('png/education.png'); background-repeat: no-repeat; }

.icon-embrace-devices { background-image: url('png/embrace-devices.png'); background-repeat: no-repeat; }

.icon-external-icon { background-image: url('png/external-icon.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-foundry { background-image: url('png/foundry.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-honor-content { background-image: url('png/honor-content.png'); background-repeat: no-repeat; }

.icon-implementation { background-image: url('png/implementation.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-lanyrd { background-image: url('png/lanyrd.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-logo-graphic { background-image: url('png/logo-graphic.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('png/person.png'); background-repeat: no-repeat; }

.icon-personal { background-image: url('png/personal.png'); background-repeat: no-repeat; }

.icon-solve-problems { background-image: url('png/solve-problems.png'); background-repeat: no-repeat; }

.icon-speaker-deck { background-image: url('png/speaker-deck.png'); background-repeat: no-repeat; }

.icon-stack-overflow { background-image: url('png/stack-overflow.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

