{{> _head}}

{{> _site-header}}

<div class="devices-hero">
  <div class="devices-hero--content">
    <h1 class="devices-hero--title">
      <span class="devices-hero--title--second">Drat.</span>
    </h1>
    <p class="devices-hero--subtitle">Sorry friend, seems you've landed at an awkward place. Any chance you were looking for the <a class="light-link" href="/foundry">Foundry</a> or our <a class="light-link" href="/work">Work</a>? If not, the <a class="light-link" href="/">homepage</a> seems a good place to start.
    </p>
  </div>
</div>

{{> _site-footer }}
{{> _document-closing }}
