<div class="feature-listing--wrapper">
  <h1 class="feature-listing--title">{{title}}</h1>
  <div class="feature-listing">
    <div class="feature-listing--inner-wrapper">
      <ul>
        {{#each items}}
          <li>
            <div class="feature-listing--item">
              <h4 class="feature-listing--item-title">{{title}}</h4>
              <p class="feature-listing--item-description">{{description}}</p>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>