<div class="foundry-header">
  <ul class="foundry-header--list">
    <li class="foundry-header--list-item">
      <a class="foundry-header--link foundry-header--link_is-selected" href="#">Full Article</a>
    </li>
    <li class="foundry-header--list-item">
      <a class="foundry-header--link" href="#">Quick Read</a>
    </li>
  </ul>
</div>
