<div class="hero--wrapper">
  <div class="hero layout--container">
    <div class="hero--first-content">
      {{{ hero-first-content }}}
    </div>
    <div class="hero--second-content">
      {{{ hero-second-content }}}
    </div>
  </div>
</div>
