<div class="page-intro">
  <div class="layout--container layout--vertical-space-2x">
    <h1 class="page-intro--title">{{title}}</h1>
    <p class="page-intro--subtitle">{{subtitle}}</p>
  </div>
</div>
