<div id="contact" class="contact-info--container">
  <div class="contact-info--item">
    <span class="contact-info--label">Phone</span>
    <a href="tel:19374010915" tabindex="-1" class="contact-info--link contact-info--phone js--contact-info--phone">937.401.0915</a>
  </div>
  <div class="contact-info--item">
    <span class="contact-info--label">Email Us</span>
    <a tabindex="-1" href="mailto:info@heysparkbox.com?subject=Hey%20Sparkbox,%20Set%20My%20Site%20Free&amp;body=(Answering%20these%20questions%20will%20help%20us%20both%20determine%20if%20we're%20a%20great%20fit%20to%20work%20together).%0A%0A%0AHere's%20a%20little%20about%20me%20(company,%20name,%20title,%20phone%20number,%20etc.):%0A%0A%0A%0AHere's%20a%20little%20about%20my%20project%20(size%20of%20the%20project,%20technologies%20involved,%20etc.):%0A%0A%0A%0AHere's%20a%20little%20about%20my%20timeline%20(start%20date,%20end%20date):%0A%0A%0A%0AHere's%20a%20little%20about%20my%20budget%20(greater%20than%20$100,000,%20between%20$50,000%20and%20$100,000,%20between%20$25,000%20and%20$50,000,%20less%20than%20$25,000):%0A%0A%0A%0A%0ALet's%20build%20together!%0A%0A%0A%0ASincerely,%0A%0A%0A%0A" class="contact-info--link contact-info--email js--contact-info--email">info@heysparkbox.com</a>
  </div>
</div>
<header class="site-header{{#if page-data.home-nav}} home-header{{/if}}">
  <nav class="site-nav" id="nav">
    <h1 class="main-logo">
      <a href="/" class="main-logo--link" title="Sparkbox" tabindex="1">
        {{> _logo-svg}}
      </a>
    </h1>
    <a class="nav-button" href="#nav" tabindex="1">
      <span class="nav-button--text">Navigation</span>
    </a>
    <ol class="site-nav--list">
      <li class="site-nav--item"><a href="/team" tabindex="1" class="site-nav--link">Team</a></li>
      <li class="site-nav--item"><a href="/work" tabindex="1" class="site-nav--link">Work</a></li>
      <li class="site-nav--item"><a href="/foundry" tabindex="1" class="site-nav--link">Foundry</a></li>
      <li class="site-nav--item site-nav--contact"><a tabindex="1" href="#" class="site-nav--highlight layout--hide-at-small">Contact</a>
        <ul class="site-nav--contact-info">
          <li class="site-nav--contact-info-item"><a href="tel:19374010915" class="site-nav--contact-info-link js--contact-info--phone">937.401.0915</a></li>
          <li class="site-nav--contact-info-item"><a href="mailto:info@heysparkbox.com?subject=Hey%20Sparkbox,%20Set%20My%20Site%20Free&amp;body=(Answering%20these%20questions%20will%20help%20us%20both%20determine%20if%20we're%20a%20great%20fit%20to%20work%20together).%0A%0A%0AHere's%20a%20little%20about%20me%20(company,%20name,%20title,%20phone%20number,%20etc.):%0A%0A%0A%0AHere's%20a%20little%20about%20my%20project%20(size%20of%20the%20project,%20technologies%20involved,%20etc.):%0A%0A%0A%0AHere's%20a%20little%20about%20my%20timeline%20(start%20date,%20end%20date):%0A%0A%0A%0AHere's%20a%20little%20about%20my%20budget%20(greater%20than%20$100,000,%20between%20$50,000%20and%20$100,000,%20between%20$25,000%20and%20$50,000,%20less%20than%20$25,000):%0A%0A%0A%0A%0ALet's%20build%20together!%0A%0A%0A%0ASincerely,%0A%0A%0A%0A" class="site-nav--contact-info-link js--contact-info--email">Email Us</a></li>
        </ul>
      </li>
    </ol>
  </nav>
</header>
